@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #003554;
}

@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 5s linear 2s infinite alternate forwards;
  }
  